* {
    margin: 0;
    padding: 0;
}

body {
    background: #EFF3F6;
    color: #464646;
}

.text-center {
    text-align: center;
}

header {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 30px;
    height: 40px;
    color: #fff;
    padding: 20px 15px;
    margin-bottom: 110px;
    text-shadow: 0 -1px 1px #fff;
    background: linear-gradient(to right, rgba(116, 116, 191, 1) 0, rgba(108, 108, 180, 1) 24%, rgba(100, 100, 160, 1) 49%, rgba(80, 80, 120, 1) 71%, rgba(60, 60, 100, 1) 100%);
}

#form_header {
    margin-bottom: 40px;
    font-size: 25px;
    height: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/*main {
    min-height: 200px;
}*/

.data-entry {
    box-shadow: 0 0 12px #000;
    padding-bottom: 40px;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
}

.data-entry:hover {
    box-shadow: 0 0 20px #000;
}

.data-entry section {
    margin: 20px;
    font-weight: 600;
}

.data-entry input {
    width: 40%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .15);
    padding: 10px;
}

.form {
    padding-top: 20px;
}

.form_field {
    padding-bottom: 20px;
}

.button {
    width: 100px;
    background: none;
    color: #7474bf;
    border: 2px solid #7474bf;
    height: 35px;
    border-radius: 5px;
    font-weight: 600;
}

.button:hover {
    background: #7474bf;
    color: #fff;
}

.search_trip {
    margin-top: 60px;
}

.search_trip ul:first-child {
    width: 50%;
    margin:0 auto;
}

footer {
    text-align: center;
}

ul li {
    display: inline-block;
    width: 150px;
    min-height: 20px;
}
